{% extends 'base.html.twig' %}

{% block title %}{{ challenge.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card m-3">
                <div class="card-header">
                    <h1 class="card-title">{{ challenge.title }}</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Description:</label>
                        <p>{{ challenge.description }}</p>
                    </div>

                    {% if challenge.image %}
                        <img src="{{ asset('upload/images/' ~ challenge.image) }}">
                    {% endif %}

                    {% if challenge.constraints %}
                        <div class="form-group">
                            <label>Contraintes:</label>
                            <p>{{ challenge.constraints }}</p>
                        </div>
                    {% endif %}
                    {% for test in challenge.tests %}
                        <ul>
                            {% for input in test.inputs %}
                                <li>{{ input.name }}: {{ input.value }}</li>
                            {% endfor %}
                            <li>Output: {{ test.output.value }}</li>
                        </ul>
                    {% endfor %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                Temps d'éxecution maximum: <strong>{{ challenge.timeout }}</strong> ms
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div id="editor">{{ exercise.content ?? challenge.template }}</div>
                    </div>
                </div>
                <div id="result_box"></div>
                <div class="card-footer">
                    <button id="submit" loading="false" type="submit" class="btn btn-outline-success" onclick="submit();">Soumettre</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('ace/ace.js') }}"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dracula");
        editor.session.setMode("ace/mode/python");
        editor.focus();
        editor.navigateFileEnd();
        editor.setFontSize(16);
    </script>

    <script>

        async function submit() {
          switch_loading()
          let token = await send_exercise();
          while (!token) {
            token = await send_exercise();
          }
          let exercise_response = await get_response_exercise(token);
          while (exercise_response === false) {
            await sleep(500)
            exercise_response = await get_response_exercise(token);
          }
          switch_loading()
          const last_result = document.querySelector("#result_box");
          if (last_result) {
            last_result.remove();
          }
          const get_box = document.querySelector(".card-body");
          const new_div = document.createElement("div");
          new_div.id = "result_box";

          const node_output = document.createElement("p");
          node_output.innerText = exercise_response.output;
          new_div.appendChild(node_output);

          if (exercise_response.time != null) {
            const node_exec = document.createElement("p");
            node_exec.innerText = `Exec time : ${exercise_response.time}ms`;
            new_div.appendChild(node_exec);
            new_div.style.color = "#2b7926"
          } else {
            new_div.style.color = "#c53535"
          }
          get_box.appendChild(new_div);

        }

        async function send_exercise() {
          console.log(editor.getSession().getValue())
          let formData = new FormData();
          formData.append("content", editor.getSession().getValue())
          let request_options = {
            method: "POST",
            body: formData
          };
          let url = "{{ path('api_exercise_submit', {'exercise_id': exercise.id}) }}"
          console.log(url)
          let response = await fetch(url,request_options);
          if (response.status === 201) {
            const json_data = await response.json();
            console.log(json_data)
            return json_data.token;
          } else {
            return false;
          }
        }

        async function get_response_exercise(token) {
          let url = "{{ path('api_exercise_result', {'exercise_id': exercise.id, 'result_id': 'result_id' }) }}";
          url = url.replace('result_id', token);
          let request = await fetch(url);
          const json_data = await request.json();
          if (!(json_data.output === null)) {
            return json_data
          } else {
            return false
          }
        }
        function switch_loading() {
          const result_box = document.querySelector("#result_box")
          if (result_box.className === "loading") {
            result_box.className = ""
          } else {
            result_box.className = "loading"
          }
        }

        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>

    <style>


        /* Absolute Center Spinner */
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

        /* Animation */

        @-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @-moz-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @-o-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }


    </style>
{% endblock %}
