{% extends 'base.html.twig' %}

{% block title %}{{ challenge.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card m-3">
                <div class="card-header">
                    <h1 class="card-title">{{ challenge.title }}</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Description:</label>
                        <p>{{ challenge.description }}</p>
                    </div>

                    {% if challenge.image %}
                        <img src="{{ asset('upload/images/' ~ challenge.image) }}">
                    {% endif %}

                    {% if challenge.constraints %}
                        <div class="form-group">
                            <label>Contraintes:</label>
                            <p>{{ challenge.constraints }}</p>
                        </div>
                    {% endif %}
                    {% for test in challenge.tests %}
                        <ul>
                            {% for input in test.inputs %}
                                <li>{{ input.name }}: {{ input.value }}</li>
                            {% endfor %}
                            <li>Output: {{ test.output.value }}</li>
                        </ul>
                    {% endfor %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                Temps d'éxecution maximum: <strong>{{ challenge.timeout }}</strong> ms
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div id="editor">{{ exercise.content ?? challenge.template }}</div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="submit" loading="false" type="submit" class="btn btn-outline-success" onclick="submit();">Soumettre</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('ace/ace.js') }}"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dracula");
        editor.session.setMode("ace/mode/python");
        editor.focus();
        editor.navigateFileEnd();
    </script>

    <script>
        function submit() {
            $("button#submit").attr('disabled', 'true');
            $("button#submit").addClass('disabled');
            $.post(
                "{{ path('api_exercise_submit', {'exercise_id': exercise.id}) }}", 
                {
                    content: editor.getSession().getValue()
                }, function (data, status) {
                if (status === "success") {
                    console.log('Exercise submited, wait exercise result response.')
                    let interval = setInterval(() => {
                        if ($("button#submit").attr('loading') === "false") {
                            console.log('Onload')
                            console.log(data);
                            var url = "{{ path('api_exercise_result', {'exercise_id': exercise.id, 'result_id': 'result_id' }) }}";
                            url = url.replace('result_id', data.token);
                            console.log(url, data);
                            $.get(url, function (result, status, xhr) {
                                console.log(result, result.output);
                                if (xhr.status === 200) {
                                    $("button#submit").attr('loading', 'false');
                                    $("button#submit").attr('disabled', 'false');
                                    $("button#submit").removeClass('disabled');
                                    clearInterval(interval);
                                }
                            });
                        }                      
                    }, 5000);
                } else {
                    console.log("Fail exercise submission");
                    $("button#submit").attr('loading', 'false');
                    $("button#submit").attr('disabled', 'false');
                    $("button#submit").removeClass('disabled');
                }
            });
        }
    </script>
{% endblock %}